body {
  background-color: #142436;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: 8vh auto 0;
  width: 60%;
  font-size: 24px;
  color: #FFF;
}

ul, li {
  margin: 0;
  padding: 0;
  list-style: none;
}

.add-todo, .todo-list {
  width: 100%;
}

.add-todo {
  display: flex;
  justify-content: center;
  height: 50px;
}
.add-todo .add-input {
  flex-grow: 1;
  font-size: 24px;
  color: #61AFEF;
  padding: 10px 20px;
  background-color: transparent;
  border: 2px solid #61AFEF;
  border-radius: 50px 0 0 50px;
  box-shadow: 0 0 5px 2px #61AFEF;
}
.add-todo .add-btn {
  flex-shrink: 0;
  font-size: 24px;
  color: #FFF;
  text-align: center;
  padding: 0 20px 0 10px;
  background-color: #61AFEF;
  border: 2px solid #61AFEF;
  border-radius: 0 50px 50px 0;
  box-shadow: 0 0 5px 2px #61AFEF;
}

.todo-list {
  margin-top: 30px;
}
